.center {
    background: #0000;
}

.aboutus {
    height: 930px;
    margin-top: 60px;
}

.text1 {
    text-align: center;
    color: #F3F4F6FF;
    font-size: 54px;
}

.text2 {
    text-align: center;
    align-items: center;
    color: #9095A0FF;
    font-size: 20px;
    padding: 10px 0
}

.aboutus-img {
    border-radius: 8px;
    padding: 10px 0;
}

.VisMis {
    display: flex;
    height: 340px;
}

.vis {
    display: flex;
    margin-right: 15px;
}

.vis-1 {
    width: 60px;
    height: 54px;
    background: #00BDD6FF;
}

.vis-2 {
    padding: 0 20px;
}

.vis-2-text1 {
    font-size: 32px;
    line-height: 48px;
    color: #DEE1E6FF;
}

.vis-2-text2 {
    font-size: 18px;
    line-height: 28px;
    color: #9095A0FF;
}

.mis {
    display: flex;
    margin-left: 10px;
}

.mis-1 {
    width: 60px;
    height: 54px;
    background: #A07CE9FF;
}

.mis-2 {
    padding: 0 20px;
}

.mis-2-text1 {
    font-size: 32px;
    line-height: 48px;
    color: #DEE1E6FF;
}

.mis-2-text2 {
    font-size: 18px;
    line-height: 28px;
    color: #9095A0FF;
}

.OurTeam {
    height: 1130px;
}

.OurTeam-text1 {
    font-size: 48px;
    line-height: 68px;
    text-align: center;
    color: #F3F4F6FF;
}

.OurTeam-text2 {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: #9095A0FF;
    padding: 15px 0;
}

.OurTeam-intro {
    display: flex;
    flex-wrap: wrap;
}

.intro {
    height: 402px;
    width: 276px;
    background: #171A1fff;
    border-radius: 8px;
    border: 1px solid ;
    /* margin-left: 5px;  */
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 22px;
}

.intro-img1 {
    height: 180px;
    width: 276px;
    background: #1CE5FFFF;
}
.intro-text1 {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.intro-text2 {
    font-size: 16px;
    line-height: 26px;
    color: #00BDD6FF;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8px;
}
.intro-text3{
    font-size: 16px; 
  line-height: 26px; 
  color: #9095A0FF;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.intro-icon{
    text-align: center;
    margin-top: 15px;
}
.intro-img2 {
    height: 180px;
    width: 276px;
    background: #8353e2;
    
}
.intro-img3 {
    height: 180px;
    width: 276px;
    background:  #ef9834;
    
}
.intro-img4 {
    height: 180px;
    width: 276px;
    background:  #e05858;
    
}
.JoinOurTeam {
	width: 1176px; 
	height: 384px; 
    background: #171A1FFF;
	border-radius: 8px;
	display: flex;
}
.JoinOurTeam-left {
	margin: 70px 80px;
}
.JoinOurTeam-left-title {
	font-size: 48px; 
	line-height: 68px; 
	color: #FFFFFFFF;
	margin-bottom: 10px;
}
.JoinOurTeam-left-text {
	font-size: 18px; 
	line-height: 28px; 
	color: #FFFFFFFF;
}
.JoinOurTeam-left-btn {
	padding: 8px;
	margin-top: 20px;
	font-size: 18px; 
	line-height: 28px; 
	color: #323842FF;
    background: #00BDD6FF;
	opacity: 1; 
	border: none; 
	border-radius: 4px;
}
.JoinOurTeam-left-btn:hover {
	color: #323842FF;
	background: #F3F4F6FF;
}