.page-blog-header {
    height: 520px;
    background: #000000FF;
    border-radius: 0px
}

.page-blog-header-img {
    position: absolute;
    width: 1176px;
    height: 494px;
    border-radius: 8px;
    margin-top: 15px;
}

.page-blog-header-bt {
    position: absolute;
    margin-top: 174px;
    margin-left: 36px;
    width: 143px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
}

.bt {
    height: 44px;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    line-height: 26px;
    color: #FFFFFFFF;
    background: #00BDD6FF;
}

.bt:hover {
    color: #FFFFFFFF;
    background: #0095A9FF;
}

.page-blog-header-text1 {
    position: absolute;
    margin-top: 218px;
    margin-left: 36px;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFFFF;
}

.page-blog-header-text2 {
    position: absolute;
    margin-top: 254px;
    margin-left: 36px;
    font-family: Epilogue;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFFFF;
}

.page-blog-header-text3 {
    position: absolute;
    margin-top: 326px;
    margin-left: 36px;
    font-size: 20px;
    line-height: 30px;
    color: #DEE1E6FF;
}

.page-blog-header-btt {
    position: absolute;
    margin-top: 329px;
    margin-left: 172px;
    width: 77px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    line-height: 18px;
}

.btt {
    height: 24px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.btt {
    font-size: 11px;
    line-height: 18px;
    color: #323842FF;
}

.btt:hover {
    color: #323842FF;
    background: #CFD2DAFF;
}

.page-blog-latestPosts {
    margin-top: 76px;
    height: 850px;
    background: #000000FF;
    border-radius: 0px;
}

.page-blog-latestPosts-text1 {
    margin-top: 36px;
    font-family: Epilogue;
    font-size: 48px;
    line-height: 68px;
    color: #FFFFFFFF;
}

.page-blog-latestPosts-intro1 {
    width: 1176px;
    height: 314px;
    background: #000000FF;
    border-radius: 8px;
    border-width: 1px;
    border-color: #323842FF;
    border-style: solid;
    display: flex;
    margin-top: 33px;
}

.page-blog-latestPosts-intro1-left-img {
    width: 588px;
    height: 314px;
    border-radius: 5px;
    background: #ED7D2DFF;
}

.page-blog-latestPosts-intro1-right {
    width: 588px;
}

.page-blog-latestPosts-intro1-right-text1 {
    margin-top: 56px;
    margin-left: 56px;
    font-family: Inter;
    font-size: 16px;
    line-height: 26px;
    color: #00BDD6FF;
}

.page-blog-latestPosts-intro1-right-text2 {
    margin-top: 12px;
    margin-left: 56px;
    width: 475px;
    font-family: Epilogue;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFFFF;
}

.page-blog-latestPosts-intro1-right-text3 {
    margin-top: 7px;
    margin-left: 56px;
    width: 475px;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    color: #9095A0FF;
}

.page-blog-latestPosts-intro1-right-text4 {
    display: flex;
    justify-content: space-between;
}

.txt {
    margin-top: 17px;
    margin-left: 56px;
    font-family: Inter;
    font-size: 14px;
    line-height: 22px;
    color: #9095A0FF;
}

.bttt {
    margin-top: 17px;
    left: 448px;
    width: 83px;
    height: 28px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    line-height: 20px;
    margin-right: 122px;
}

.btttt {
    height: 28px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFFFF;
    background: #00BDD6FF;

}

.btttt:hover {
    color: #FFFFFFFF;
    background: #0095A9FF;
}

.page-blog-latestPosts-intro2 {
    width: 1176px;
    height: 314px;
    background: #000000FF;
    border-radius: 8px;
    border-width: 1px;
    border-color: #323842FF;
    border-style: solid;
    display: flex;
    margin-top: 33px;
}

.page-blog-latestPosts-intro2-left {
    width: 588px;
}

.page-blog-latestPosts-intro2-left-text1 {
    margin-top: 56px;
    margin-left: 56px;
    font-family: Inter;
    font-size: 16px;
    line-height: 26px;
    color: #00BDD6FF;
}

.page-blog-latestPosts-intro2-left-text2 {
    margin-top: 12px;
    margin-left: 56px;
    width: 475px;
    font-family: Epilogue;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFFFF;
}

.page-blog-latestPosts-intro2-left-text3 {
    margin-top: 7px;
    margin-left: 56px;
    width: 475px;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    color: #9095A0FF;
}

.page-blog-latestPosts-intro2-left-text4 {
    display: flex;
    justify-content: space-between;
}

.txt {
    margin-top: 17px;
    margin-left: 56px;
    font-family: Inter;
    font-size: 14px;
    line-height: 22px;
    color: #9095A0FF;
}

.bttt {
    margin-top: 17px;
    left: 448px;
    width: 83px;
    height: 28px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    line-height: 20px;
    margin-right: 122px;
}

.btttt {
    height: 28px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFFFF;
    background: #00BDD6FF;

}

.btttt:hover {
    color: #FFFFFFFF;
    background: #0095A9FF;
}

.page-blog-latestPosts-intro2-right-img {
    width: 588px;
    height: 314px;
    border-radius: 5px;
    background: #6B8BEBFF;
}

.page-blog-AllPosts {
    height: 1128px;
    background: #000000FF;
}

.page-blog-AllPosts-text {
    margin-top: 76px;
    font-family: Epilogue;
    font-size: 48px;
    line-height: 68px;
    color: #FFFFFFFF;
}

.page-blog-AllPosts-intro {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
}

.page-blog-AllPosts-intro1 {
    width: 376px;
    height: 446px;
    background: #171A1FFF;
    border-radius: 6px;
    margin-right: 23px;
    margin-top: 35px;
}

.page-blog-AllPosts-intro1-img {
    width: 376px;
    height: 256px;
    border-radius: 8px 8px 0px
}

.page-blog-AllPosts-intro1-text1 {
    margin-top: 23px;
    margin-left: 24px;
    width: 328px;
    font-family: Inter;
    font-size: 16px;
    line-height: 26px;
    color: #00BDD6FF
}

.page-blog-AllPosts-intro1-text2 {
    margin-top: 6px;
    margin-left: 24px;
    width: 328px;
    font-family: Epilogue;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFFFF;
}

.page-blog-AllPosts-intro1-text3 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.text {
    margin-left: 24px;
    font-family: Inter;
    font-size: 14px;
    line-height: 22px;
    color: #9095A0FF;
}

.button {
    width: 83px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
    font-size: 12px;
    line-height: 20px;
    margin-right: 59px;
}

.buttonn {
    height: 28px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFFFF;
    background: #00BDD6FF;
}

.buttonn:hover {
    color: #FFFFFFFF;
    background: #0095A9FF;
}

.page-blog-AllPosts-button {
    margin-top: 50px;
    margin-left: 520px;
}
.seemore{
    height: 44px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 16px;
    line-height: 26px;
    color: #00BDD6FF;
    background: #00000000;
    border-width: 1px;
    border-color: #00BDD6FF;
    border-style: solid;
    border-radius: 4px;
}
.seemore:hover{
    color: #00A9C0FF;
    background: #00000000;
}