.page-community-header {
    height: 722px;
    margin-top: 60px;
}

.page-community-header-text {
    font-size: 48px;
    line-height: 68px;
    color: #f3f4f6ff;
    text-align: center;
}

.page-community-header-search {
    padding: 15px 0;
    text-align: center;
}

.page-community-header-search button {
    border-radius: 4px;
    background: #00000000;
    border-color: #565e6cff;
}

.page-community-header-search i {
    width: 15px;
    height: 24px;
    color: #A7ADB7FF;
    padding-left: 7px;
}

.page-community-header-search input {
    width: 589px;
    height: 52px;
    padding-left: 5px;
    background: #00000000;
    color: #565e6cff;
    font-size: 18px;
    border: none;
    outline: none;
}

.page-community-header-search button:hover {
    color: #424955ff;
}

.page-community-header-intro {
    display: flex;
    margin-top: 27px;
}

.header-intro {
    width: 276px;
    height: 322px;
    background: #171a1fff;
    border-radius: 8px;
    margin-left: 13px;
}

.header-intro-img1 {
    width: 80px;
    height: 80px;
    background: #00bdd6ff;
    border-radius: 40px;
    margin-top: 32px;
    margin-left: 98px;
}
.header-intro-img1 img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
.header-intro-img2 {
    width: 80px;
    height: 80px;
    background: #8353e2ff;
    border-radius: 40px;
    margin-top: 32px;
    margin-left: 98px;
}
.header-intro-img2 img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
.header-intro-img3 {
    width: 80px;
    height: 80px;
    background: #4069e5ff;
    border-radius: 40px;
    margin-top: 32px;
    margin-left: 98px;
}
.header-intro-img3 img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
.header-intro-img4 {
    width: 80px;
    height: 80px;
    background: #ed7d2dff;
    border-radius: 40px;
    margin-top: 32px;
    margin-left: 98px;
}
.header-intro-img4 img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
.header-intro-text1 {
    font-size: 20px;
    line-height: 30px;
    color: #dee1e6ff;
    text-align: center;
    margin-top: 12px;
}

.header-intro-text2 {
    width: 228px;
    font-size: 16px;
    line-height: 26px;
    color: #9095A0ff;
    margin-top: 13px;
    text-align: center;
    margin-left: 24px;
}

.header-button {
    font-size: 14px;
    line-height: 22px;
    color: #00bdd6ff;
    margin-left: 24px;
    display: flex;
    background: #00000000;
    width: 228px;
    height: 36px;
    padding: 0 12px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    margin-top: 22px;
}
.header-button .icon{
    width: 16px;
    height: 16px;
    padding-left: 3px;
}
.header-button :hover{
    color: #00bdd6ff;
    background: #a6f5ffff;
}
.header-button:hover:active{
    color: #00bdd6ff;
    background: #61edffff;
}